<footer id="footer" class="footer position-relative dark-background">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename"><%= data.info.name %></span>
          </a>
          <div class="footer-contact pt-3">
            <p><%= data.info.address %></p>
            <p><%= data.info.address2 %></p>
            <p class="mt-3">
              <strong>Phone:</strong> <a class="text-white" href="tel:<%= data.info.phone %>"><%= data.info.phone %></a>
              <a href="<%= wa_link('hello') %>" class="whatsapp text-white"><i class="bi bi-whatsapp"></i></a>
            </p>

            <p><strong>Email:</strong> <span><%= data.info.email %></span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <%- data.services[0..1].each do |service_hash| %>
          <div class="col-lg-3 col-md-3 footer-links">
            <h4><%= service_hash['name'] %></h4>
            <ul>
              <%- service_hash['items']&.each do |service| %>
                <li><a href="/amenities"><%= service %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="copyright text-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div>
          © Copyright <strong><span><%= data.info.name %></span></strong>. All Rights Reserved
        </div>
        <div class="credits text-start">
          Theme Based On <a class="text-white" href="https://bootstrapmade.com/">BootstrapMade</a>
          <br>
          Developed by <a class="text-white" href="https://github.com/shivabhusal">Shiva B.</a>
          <i class="bi bi-whatsapp" title="<%= Time.now.getlocal("+05:45").strftime("%Y-%m-%d %H:%M:%S %z") %>"></i>
        </div>
      </div>

      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href="<%= wa_link('hello') %>" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="<%= data.info.tiktok %>" class="tiktok"><i class="bi bi-tiktok"></i></a>
        <a href="<%= data.info.facebook %>" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="<%= data.info.instagram %>" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </div>

</footer>