<header id="header" class="header sticky-top">

  <div class="topbar d-flex align-items-center dark-background">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-send-fill d-flex align-items-center"><a href="mailto:<%= data.info.email %>"><%= data.info.email %></a></i>

        <i class="bi bi-phone d-flex align-items-center ms-4">
          <a href="<%= wa_link('hello') %>" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
          <a href="tel:<%= data.info.phone %>"><%= data.info.phone %></a>
        </i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="<%= wa_link('hello') %>" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="<%= data.info.tiktok %>" class="tiktok"><i class="bi bi-tiktok"></i></a>
        <a href="<%= data.info.facebook %>" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="<%= data.info.instagram %>" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div><!-- End Top Bar -->

  <div class="branding d-flex align-items-cente">

    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
<!--         <img src="assets/img/logo.webp" alt="">-->
        <h1 class="sitename"><%= data.info.name %></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/rooms">Rooms</a></li>
          <li><a href="/amenities">Amenities</a></li>
          <li><a href="/location">Location</a></li>
          <li class="dropdown"><a href="#"><span>Pages</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/rooms">Room Details</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/booking">Booking</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>

  </div>

</header>