---
layout: default
---
<main class="main">

  <!-- Hotel Hero Section -->
  <%= partial('layouts/hero') %>

  <!-- About Home Section -->
  <%= partial('layouts/home') %>

  <!-- Rooms Showcase Section -->
  <%= partial('layouts/rooms') %>


  <!-- Amenities Cards Section -->
  <%= partial('layouts/amenities', locals:{item_count: 3}) %>


  <!-- Testimonials Section -->
  <%= partial('layouts/testimonial') %>


  <!-- Offer Cards Section -->
  <%= partial('layouts/offers') %>


  <!-- Call To Action Section -->
  <%= partial('layouts/cta') %>


  <!-- Events Cards Section -->
  <%#= partial('layouts/event') %>


  <!-- Location Cards Section -->
  <%= partial('layouts/location') %>


  <!-- Gallery Showcase Section -->
  <%= partial('layouts/gallery') %>


</main>

